
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ='stylesheet' href='/stylesheets/components/new-page.css'/>
    <link rel='stylesheet' href='/lib/bootstrap/css//bootstrap.css'/>
    <link rel ='stylesheet' href='/stylesheets/style.css'/>
    <link rel ='stylesheet' href='/stylesheets/cover.css'/>
    <link rel ='stylesheet' href='/stylesheets/components/views-card.css'/>
    <script src ='/lib/jquery/jquery.js'> </script>
    <script src ='/lib/bootstrap/js/bootstrap.bundle.js'> </script>
    <script src = '/javascripts/navbar.js'> </script>
  </head>
<body class = "background-color">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <% for (let category of categories) { %>
    <a href="/articles?categoryId=<%= category.id %>"><%= category.name %></a>
    <% } %>
      <a href="/audioUploads">Audio Uploads</a>
    <% if(current_user){ %>
      <div class = "Name">
        Hello, <%= current_user.login %>
      </div>

      <li class = 'nav-item'>
        <a class ='nav-link' href = '/logout'> Log out</a>
      </li>
    <% }else { %>
      <li class = 'nav-item'>
      <a class ='nav-link' href = '/login'> Log in </a>
    </li>
      <li class ='nav-item'>
        <a class = 'nav-link' href = '/register'> Register</a>
      </li>
   <% } %>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <% if(flash.info){ %>
    <div class = "alert alert-succes"><%= flash.info.join(" "); %> </div>
    <% } %>
    <% if(flash.error){ %>
      <div class = "alert alert-danger"><%= flash.error.join(' '); %></div>
    <% } %>
    <header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">Views</h3>
      <!-- <nav class="nav nav-masthead justify-content-center">
        <% for (let category of categories) { %>
        <a class="nav-link" href="/articles?categoryId=<%= category.id %>"><%= category.name %></a>
        <% } %> -->
      </nav>
    </div>
  </header>
  <div>
    <%- body %>
  </div>
</div>
  </body>
</html>
