<div style = "position:relative">
  <h1 class = "article-title" style = "position:absolute; top:50%;"> <%= article.title %></h1>
  <img class ="img-fluid" src= "<%=article.pictureUrl%>" alt="<%= article.title %>">

</div>
<hr>
<p>  <%= article.publishedAt %> </p>
<p>  <%= article.body %></p>
<p>  <%= article.sourceUrl %></p>
<!-- <p>  <a href = '/articles/<%= article.id %>/edit ' class ='btn btn-primary'> Edit </a> -->
    <% if(categoryId){%>
      <a href="/articles/?categoryId=<%=categoryId%>">&laquo; back to list</a>
      <%} else {%>
        <a href="/">&laquo; back to list</a>

      <%}%>

    <form method = 'post' action= '/articles/<%= article.id %>?_method=DELETE'>
        <!-- <p>  <button class = 'btn btn-danger'>Delete </button>  </p> -->
    </form>


</p>
