<div style = "position:relative">
  <h1 class = "article-title" style = "position:absolute; top:50%;"> <%= article.title %></h1>
  <img class ="img-fluid" src= "<%=article.pictureUrl%>" alt="<%= article.title %>">

</div>
<hr>
<p>  <%= article.publishedAt %> </p>
<p>  <%= article.body %></p>
<p>  <%= article.sourceUrl %></p>
<!-- <p>  <a href = '/articles/<%= article.id %>/edit ' class ='btn btn-primary'> Edit </a> -->
    <% if(categoryId){%>
      <a href="/articles/?categoryId=<%=categoryId%>">&laquo; back to list</a>
      <%} else {%>
        <a href="/">&laquo; back to list</a>

      <%}%>

    <form method = 'post' action= '/articles/<%= article.id %>?_method=DELETE'>
        <!-- <p>  <button class = 'btn btn-danger'>Delete </button>  </p> -->
      <!--  <button type="button" class="btn btn-dark"> Comment</button> -->
    </form>
  <div>
    <script src = '/javascripts/commentButton.js'> </script>
    <button type="button" id = "commentButton" class="btn btn-dark commentbutton" onclick="commentButton()"> Comment</button>
    <!-- <input value="onclick" type="button"> -->

    <textarea id = "commentBox" style = "display:none;" name="Text" rows="8" cols="80"></textarea>


  </div>
</p>
