<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>audio Url</th>
      <th>Artist</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% for (let music of audio) { %>
      <tr>
        <td><%= music.id %></td>
        <td><%= music.title %></td>
        <td>
          <audio controls>
            <source src="<%= music.audioUrl%>">
            Your browser does not support the audio element.
          </audio>
        </td>
        <td><%= music.user ? music.user.login : '' %></td>
        <td><%= moment(music.createdAt).format(dateFormat) %></td>
      </tr>
    <% } %>
  </tbody>
</table>
  <a href="/audioUploads/new" class="btn btn-sm btn-outline-secondary">New</a>
